svg{
  border: 5px solid #931621;
  margin:auto;
  display: block;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.pan:hover, .zoom:hover, #play-button{
  cursor: pointer;
}

.pan rect:hover, .zoom rect:hover, .zoom text:hover, #play-button rect:hover, #play-button text:hover{
	opacity: 0.4;
  transition: 0.08s;
}

.zoom rect, #play-button rect {
  fill: #931621;
	opacity: 0.2;
  rx: 5;
	ry: 5;
}

.zoom text {
	fill: black;
	font-size: 22px;
  text-anchor: middle;
}

path:hover{
  stroke-width: 2.5px;
  cursor: pointer;
}

svg text{
  pointer-events: none;
}

#year_label {
  font-size: 22px;
  font-weight: bold;
  font-family: Georgia, serif;
}

#play-button:hover {
  background-color: #d8afb4;
}

.title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1%;
}

.info_box {
  border: 1px solid grey;
  position: relative;
  top: -200px;
  left: -520px;
}
