svg{
  border: 1px solid #931621;
  margin:auto;
  display: block;
}

.pan:hover, .zoom:hover{
  cursor: pointer;
}

.pan rect:hover, .pan text:hover, .zoom rect:hover, .zoom text:hover{
	opacity: 0.4;
}

.pan rect, .zoom rect {
  fill: #931621;
	opacity: 0.2;
}

.zoom rect {
	rx: 5;
	ry: 5;
}

.pan text, .zoom text {
	fill: black;
	font-size: 22px;
  text-anchor: middle;
}

path:hover{
  transform: scale(1);
  stroke-width: 2px;
  cursor: pointer;
}

svg text{
  pointer-events: none;
}
